{% extends "main/base.html" %}
{% load static %}

{% block content %}
<section class="education-hero py-5 mt-5">
    <div class="container text-center">
        <h1 class="display-4 fw-bold mb-3">خريطة <span class="highlight">الزراعة</span></h1>
        <p class="lead section-sub">اضغط على أي منطقة لاستكشاف كنوزها الزراعية</p>
        <div class="divider mx-auto"></div>
    </div>
</section>

<section class="container pb-5">
    <div class="map-wrapper shadow-lg rounded-4 overflow-hidden bg-white p-2">
        <img src="{% static 'images/ksa-map.svg' %}" usemap="#saudi-map" class="img-fluid w-100" >

        <map name="saudi-map">
            <area shape="poly" coords="480,450,620,450,620,600,480,600" alt="الرياض" href="{% url 'riyadh' %}">
            <area shape="circle" coords="450,350,40" alt="القصيم" href="{% url 'qassim' %}">
            
            <area shape="circle" coords="280,550,50" alt="مكة المكرمة" href="{% url 'makkah' %}">
            <area shape="circle" coords="290,430,45" alt="المدينة المنورة" href="{% url 'madinah' %}">
            
            <area shape="poly" coords="200,200,350,250,350,350,200,300" alt="تبوك" href="{% url 'tabuk' %}">
            <area shape="circle" coords="380,300,40" alt="حائل" href="{% url 'hail' %}">
            <area shape="poly" coords="300,100,500,150,550,250,400,200" alt="الحدود الشمالية" href="{% url 'northern-borders' %}">
            <area shape="circle" coords="250,220,35" alt="الجوف" href="{% url 'al-jouf' %}">

            <area shape="poly" coords="630,350,850,450,850,700,630,700" alt="المنطقة الشرقية" href="{% url 'eastern' %}">

            <area shape="circle" coords="380,750,40" alt="عسير" href="{% url 'asir' %}">
            <area shape="circle" coords="330,830,30" alt="جازان" href="{% url 'jazan' %}">
            <area shape="circle" coords="450,820,35" alt="نجران" href="{% url 'najran' %}">
            <area shape="circle" coords="320,720,30" alt="الباحة" href="{% url 'al-baha' %}">
        </map>
    </div>
</section>
{% endblock %}